.c-checkbox {
  font-family: var(--c-font-family-sans);
  color: var(--c-color-black);
  font-weight: var(--c-font-weight-bold);
  line-height: var(--c-font-line-height-110);
  font-size: var(--c-font-size-17);
}

.c-checkbox__label {
  display: inline-flex;
  align-items: center;
}

.c-checkbox__text {
  margin-left: var(--c-spacing-12);
}

.c-checkbox__input {
  opacity: 0;
  position: absolute;
  left: -999999px;
}

.c-checkbox__button {
  position: relative;
  display: inline-block;
  min-height: 32px;
  min-width: 32px;
}

.c-checkbox__button::after,
.c-checkbox__button::before {
  position: absolute;
  content: "";
  display: inline-block;
}

.c-checkbox__button::before {
  border: 2px solid;
  border-radius: var(--c-radius-8);
  left: 0px;
  top: 0px;
  min-height: 32px;
  min-width: 32px;
  background-color: var(--c-color-blue-01);
}

.c-checkbox__button::after {
  border-left: 3px solid var(--c-color-black);
  border-bottom: 3px solid var(--c-color-black);
  transform: rotate(-45deg);
  height: 9px;
  width: 16px;
  left: 8px;
  top: 9px;
}

.c-checkbox__input + .c-checkbox__button::after {
  content: none;
}
.c-checkbox__input:checked + .c-checkbox__button::after {
  content: "";
}
.c-checkbox__input:checked + .c-checkbox__button::before {
  background-color: var(--c-color-yellow-05);
}

.c-checkbox--disabled .c-checkbox__text,
.c-checkbox--disabled .c-checkbox__button::before,
.c-checkbox--disabled .c-checkbox__button::after {
  opacity: 0.6;
  filter: saturate(60%);
}
