@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap');

@import '@contra-ui/design-tokens/dist/global-tokens.css';


html {
  font-family: 'Montserrat', sans-serif;
}

body {
  -webkit-overflow-scrolling: touch;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
  text-rendering: optimizeLegibility;
}

input,
textarea,
select,
button {
  font-family: 'Montserrat', sans-serif;
}

*, ::before, ::after {
  box-sizing: border-box;
}